body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-nav{ 
  background-color: green !important;
}

.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list a {
  border: 1px;
  border-color: black;
  text-align: center;
}

/* END HEADER */

#menu-tile {
  background-color: cornflowerblue;
  height: 900px;
  margin: 30px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}